#show-ticket {
  margin-left: 100px;
  background-color: #ffffb3;
  box-shadow: 10px 10px black;
  padding: 50px;
  padding-bottom: 100px;
  /*display: none;*/
}

body {
  background-color: #990000;
  color: #000;
}

.row {
  padding: 100px;
}

body h1 {
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px black;
}
